<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery Steps -> AngularJS</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/ccmos-select2.css">

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>

    <!-- Before build -->
    <!--
    <script src="../bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="../js/src/ccmos-select2.js"></script>
    -->
    <script src="../js/build/ccmos-select2.min.js"></script>
    <script type="text/javascript">
        angular.module('app', ['ccmosSelect2'])
                .controller('Select2Ctrl', ['$scope', function ($scope) {
                    $scope.options = [{
                        name: 'mosluce',
                        id: '1',
                        displayName: '默司'
                    }, {
                        name: 'cosseto',
                        id: '2',
                        displayName: '科賽特'
                    }];

                    $scope.settings = {
                        placeholder: 'Select One',
                        allowClear: true
                    };

                    $scope.settings2 = {
                        placeholder: 'Select Two'
                    };

                    $scope.selected = "2";

                    $scope.change = function() {
                        $scope.options2 = angular.copy($scope.options);
                    };
                }]);
    </script>
</head>
<body ng-app="app">
<div class="container" ng-controller="Select2Ctrl">
    <div class="form-group">
        <label>Single Select</label>
        <select ng-options="item.id as item.displayName for item in options"
                ng-model="selected"
                ng-change="change()"
                ccmos-select2
                data-settings="settings"
                style="width: 100%;"></select>
    </div>
    <div class="form-group">
        <label>Second Select</label>
        <select ng-options="item.id as item.displayName for item in options2"
                ng-disabled="!options2"
                ng-model="selected2"
                ccmos-select2
                data-settings="settings2"
                style="width: 100%;"></select>
    </div>
    <div class="form-group">
        <label>Selected</label>
        {{selected}}
    </div>
    <div class="form-group">
        <label>Selected2</label>
        {{selected2}}
    </div>
</div>
</body>
</html>