<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery Steps -> AngularJS</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/ccmos-wizard.css">
    <link rel="stylesheet" href="../css/ccmos-select2.css">
    <link rel="stylesheet" href="../css/ccmos-datepicker.css">

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>

    <script src="../bower_components/jquery.steps/build/jquery.steps.min.js"></script>
    <script src="../js/src/ccmos-wizard.js"></script>
    <!--<script src="../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>-->
    <!--<script src="../js/src/ccmos-datepicker.js"></script>-->
    <!--<script src="../js/build/ccmos-wizard.min.js"></script>-->
    <script src="../js/build/ccmos-datepicker.min.js"></script>
    <script src="../js/build/ccmos-select2.min.js"></script>
    <script type="text/javascript">
        (function () {
            var app = angular.module('app', ['ccmosWizard', 'ccmosSelect2', 'ccmosDatepicker']);
            app.controller('WizardCtrl', ['$scope', function ($scope) {

                $scope.events = {
                    onStepChanging: function () {
                        return true;
                    }
                };

                $scope.selectOptions = [{
                    label: 'Hello',
                    value: '123'
                }, {
                    label: 'World',
                    value: '456'
                }];

                $scope.first = function() {
                    $scope.$emit('ccmos.wizard.first');
                }
            }]);
        })();
    </script>
</head>
<body ng-app="app">
<div ng-controller="WizardCtrl">
    <form novalidate name="form"
          ccmos-wizard
          data-enable-cancel-button="true"
          data-label-previous="Back"
          data-events="events">
        <h1>Step 1</h1>
        <fieldset>
            <select ccmos-select2
                    ng-options="item.value as item.label for item in selectOptions"
                    ng-model="selectedValue"
                    style="width: 100%;"></select>

            <div>
                {{selectedValue}}
            </div>
        </fieldset>
        <h1>Step 2</h1>
        <fieldset>
            <ccmos-datepicker ng-model="date"></ccmos-datepicker>
            {{date}}
        </fieldset>
    </form>

    <button class="btn btn-default" ng-click="first()">Go to first step</button>
</div>
</body>
</html>